<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="isLoading" name="crescent" class="ion-margin-top"></ion-spinner>

  <ion-list *ngIf="!isLoading && courses.length > 0">
    <ion-item *ngFor="let course of courses" (click)="openCourseDetail(course.id)">
      <ion-thumbnail slot="start" *ngIf="course.imagenUrl">
        <img [src]="course.imagenUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ course.titulo }}</h2>
        <p>{{ course.descripcion }}</p>
        <ion-badge color="tertiary" *ngIf="course.estudiantes">
          {{ course.estudiantes }} estudiantes
        </ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && courses.length === 0" class="ion-text-center ion-margin-top">
    <ion-icon name="information-circle-outline" size="large"></ion-icon>
    <p>No tienes cursos asignados.</p>
  </div>
</ion-content>
