<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teacher/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="crearTarea()">
    <ion-list lines="inset">
      <ion-item>
        <ion-label position="floating">Título *</ion-label>
        <ion-input [(ngModel)]="task.titulo" name="titulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="task.descripcion" name="descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Entrega *</ion-label>
        <ion-datetime
          presentation="date-time"
          [(ngModel)]="task.fechaEntrega"
          name="fechaEntrega"
          required
        ></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Guardar Tarea
    </ion-button>
  </form>

<ion-list *ngIf="assignments.length > 0">
  <ion-list-header>
    <ion-label>Tareas Existentes</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let tarea of assignments">
    <ion-label>
      <h2>{{ tarea.titulo }}</h2>
      <p>{{ tarea.descripcion }}</p>
       <p><strong>Fecha de entrega:</strong> {{ parseDate(tarea.fechaEntrega) | date: 'short' }}</p>

    </ion-label>
    <ion-button fill="clear" color="danger" (click)="eliminarTarea(tarea.id)">
      Eliminar
    </ion-button>
  </ion-item>
</ion-list>

<div *ngIf="assignments.length === 0" class="ion-text-center">
  <p>No hay tareas aún</p>
</div>


</ion-content>

