<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teacher/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="crearTarea()">
    <ion-list lines="inset">
      <ion-item>
        <ion-label position="floating">Título *</ion-label>
        <ion-input [(ngModel)]="task.titulo" name="titulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="task.descripcion" name="descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Entrega *</ion-label>
        <ion-datetime
          presentation="date"
          [(ngModel)]="task.fechaEntrega"
          name="fechaEntrega"
          required
        ></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Guardar Tarea
    </ion-button>
  </form>
</ion-content>
