<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img style="width: 45%" src="assets/icon.png" alt="Plataforma Educativa" />
  </div>

  <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
      ></ion-input>
      <ion-button
        slot="end"
        fill="clear"
        (click)="showPassword = !showPassword"
      >
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start" formControlName="rememberMe"></ion-checkbox>
      <ion-label>Recordarme</ion-label>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!loginForm.valid"
      class="ion-margin-top"
    >
      Iniciar Sesión
    </ion-button>
  </form>

  <div class="ion-text-center ion-margin-top">
    <a (click)="navigateToResetPassword()" class="forgot-password">
      ¿Olvidaste tu contraseña?
    </a>
  </div>
</ion-content>
